{% extends 'base.html' %}
{% block content %}
<div class="container pt-4">
    <div class="col-lg-5 shadow p-0 mx-auto"> <!--shadow is to create shadow box// mx-auto for making center -->
        <div class="alert alert-success"><center><h3>Create Account</h3></center></div>
        <div class="p-4">
            <form method="post" action="/signup/">
                {% csrf_token %}
                {{ form.as_p }} <!-- as_p is a function which will convert into paragraph form // to write python code in HTML we use "templating language"-->
                <hr>
                <center><input class="btn btn-success " type="submit" value="Create Account"></center>
            </form>
        </div>
    </div>
</div>
{% endblock%}




<!--
<div class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
    <h5>Creator Info</h5>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Name  : Vamsi Sannala</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Email : vamsireddysannala@gmail.com</a>
        </li>
    </ul>
</div>
-->

